@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "bulma/css/bulma.min.css";

html {
    overflow-y: auto;
}
html,
body,
body>main {
    height: 100%;
    margin: 0;
}
.mr1 {
    margin-right: 0.5rem;
}
.mb1 {
    margin-bottom: 0.5rem;
}
.p1 {
    padding: 0.5rem;
}
.sticky-bottom {
    position: sticky;
    bottom: 0rem;
}
.text-wrap {
    word-break: break-all;
}
