# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: deploy to github pages

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v5
      with:
        node-version: 'lts/*'
    - name: Cache dependencies
      uses: actions/cache@v4
      with:
        path: |
          node_modules
          .spago
          output
        key: ${{ runner.os }}-purs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/spago.lock') }}-${{ hashFiles('**/spago.yaml') }}
        restore-keys: |
          ${{ runner.os }}-purs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/spago.lock') }}-
          ${{ runner.os }}-purs-${{ hashFiles('**/package-lock.json') }}-
          ${{ runner.os }}-purs-
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs
